html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#locationButton {
  border: none !important;
}

.MuiSpeedDialAction-staticTooltipLabel {
  width: 250px;
  z-index: 2;
}

.MuiSpeedDial-fab {
  width: auto !important;
  height: auto !important;
}

#view-default-view {
  width: auto;
}

.trend-wrapper .g2-tooltip {
  position: absolute;
  z-index: 8;
  transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s,
    top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  background-color: transparent;
  color: rgb(89, 89, 89);
  padding: 0px 12px;
  margin: 0px;
  overflow-x: auto;
  width: 100%;
  left: 0px;
  top: 0px;
  pointer-events: auto;
}
.trend-wrapper .g2-tooltip-title {
  margin: 10px 0;
  font-weight: 700;
  height: 12px;
  line-height: 12px;
}
.trend-wrapper .g2-tooltip-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: auto;
  width: 100%;
}
.trend-wrapper .g2-tooltip-item {
  opacity: 1;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 92px;
  min-width: 92px;
  padding-left: 12px;
  justify-content: space-between;
}
.trend-wrapper .g2-tooltip-item.inactive {
  opacity: 0.25;
}
.trend-wrapper .g2-tooltip-item-marker {
  width: 3px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 48px;
  left: 0px;
}
.trend-wrapper .g2-tooltip-item-label {
  font-size: 14px;
  line-height: 14px;
  margin: 2px 0px 12px;
}
.trend-wrapper .g2-tooltip-item-value {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.65);
  margin: 0px 0px 4px;
}
#container {
  width: 100%;
  height: 100%;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.wrapper .chart-wrapper {
  position: absolute !important;
  top: 94px;
  bottom: 0px;
  right: 10px;
  left: 10px;
  height: calc(100% - 88px);
}

/* Styles pour la barre de défilement */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, .5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(47, 163, 124, .7);
}

/* Styles pour Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.DateRangePicker, .SingleDatePicker{
  width: 100%;
}
.DateRangePickerInput, .SingleDatePickerInput{
  border-radius: 4px!important;
  width: 100%;
  padding: 3px 6px;
  border-color: rgba(67, 74, 74,.3)!important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.DateRangePickerInput__withBorder:focus,
.DateRangePickerInput__withBorder:focus-within,
.SingleDatePickerInput__withBorder:focus,
.SingleDatePickerInput__withBorder:focus-within
 {
  border: 2px solid #2FA37C !important;
}
.DateInput input{
  font-size: 14px;
  text-align: center;
}
.DateRangePickerInput_arrow{
  padding: 0 14px;
}
.DateRangePickerInput_arrow_svg{
  fill:rgba(67, 74, 74,.5)!important;
  height: 18px!important;
  width: 18px!important;
}
.labelDatePicker{
  position: absolute;
  top: -9px;
  left: 10px;
  font-size: 10px;
  color: rgba(67, 74, 74,.68);
  margin: 0;
  background-color: white;
  padding: 0 4px;
  font-family: Poppins;
  font-weight: 450;
}
.CalendarDay {
  border: 1px double rgba(47, 163, 124, .2)!important;
}
.CalendarDay__selected {
  background-color: #2FA37C!important;
}
.CalendarDay__selected_span {
  background-color: rgba(47, 163, 124, .5)!important;
}
.labelDatePicker.focused{
  color: #2FA37C;
}
.DateRangePicker_picker {
  z-index: 2!important;
}
.icon-expanded {
  color: black!important;
  background-color: transparent!important;
}
.btn-expanded:hover{
  border-top: none
}
.btn-expanded:hover .icon-expanded {
  color: #2FA37C!important;
}
td:has(> button[aria-label="delete"]) {
  padding: 0;
}
.MuiDialogContent-root.css-ypiqx9-MuiDialogContent-root form .MuiStack-root.css-o1sk11-MuiStack-root .MuiFormControl-root.MuiFormControl-fullWidth.MuiTextField-root.css-wb57ya-MuiFormControl-root-MuiTextField-root:first-child,
.MuiDialogContent-root.css-ypiqx9-MuiDialogContent-root form .MuiStack-root.css-o1sk11-MuiStack-root .MuiFormControl-root.MuiFormControl-fullWidth.MuiTextField-root.css-wb57ya-MuiFormControl-root-MuiTextField-root:last-child
{
  display: none;
}

.MuiDialog-paper h2 {
  opacity: 0;
  padding: 0;
}

.MuiDialog-paper button{
  padding: 8px 32px;
}
